<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Rules</title>
<link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

		<div class="row">
			<form action="#" th:action="@{/validateRuleAdd}" th:object="${rule}"
				method="post" class="form-horizontal" style="width: 100%">

				<div class="form-group">
					<label for="nameInput">Name</label> <input type="text"
						th:field="*{name}" class="form-control" id="nameInput"
						aria-describedby="nameHelp" placeholder="Name">
					<div class="alert alert-warning"
						th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
				</div>
				<div class="form-group">
					<label for="descriptionInput">Description</label> <input type="text"
						th:field="*{description}" class="form-control" id="descriptionInput"
						aria-describedby="descriptionHelp" placeholder="Description">
				</div>
				<div class="form-group">
					<label for="jsonInput">Json</label> <input type="text"
						th:field="*{json}" class="form-control" id="jsonInput"
						aria-describedby="jsonHelp" placeholder="Json">
				</div>
				<div class="form-group">
					<label for="templateInput">Template</label> <input type="text"
						th:field="*{template}" class="form-control" id="templateInput"
						aria-describedby="templateHelp" placeholder="Template">
				</div>
				<div class="form-group">
					<label for="sqlStrInput">Sql</label> <input type="text"
						th:field="*{sqlStr}" class="form-control" id="sqlPartInput"
						aria-describedby="sqlStrHelp" placeholder="Sql">
				</div>
				<div class="form-group">
					<label for="sqlPartInput">Sql Part</label> <input type="text"
						th:field="*{sqlPart}" class="form-control" id="sqlPartInput"
						aria-describedby="sqlPartHelp" placeholder="Sql Part">
				</div>

				<div class="form-group">
					<div class="col-sm-12">
						<a class="btn btn-danger btn-sm" href="/ruleList">Cancel</a> <input
							class="btn btn-info btn-sm" type="submit" value="Add Rule">
					</div>
				</div>
			</form>
		</div>

	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>


	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>